@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body{
    background-color: hsl(27, 66%, 92%);
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}
.App{
    box-sizing: border-box;
    width: 400px;
    margin: 50px auto;
}
.balance{
    background: hsl(10, 79%, 65%);
    max-height: 50px;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

p{
    font-size: medium;
}
.details span{
    font-size: 1.5rem;
}
.chart-display{
    padding: 20px;
    background:  hsl(33, 100%, 98%);
    margin-top: 30px;
    height: auto;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
}
.barrier{
    width: 450px;
    margin: 25px auto;
    height: 1px;
    background: hsl(27, 66%, 92%);
}
img{
    width: 65px;
}
.last{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.last-1 h1, .last-1 h3{
    color: hsl(25, 47%, 15%);
}
.last-1 p, .last-2 p{
    color: hsl(28, 10%, 53%);
}
.last-2 h3{
    display: flex;
    flex-direction: row-reverse;
}




/* Mobile View */
@media screen and (max-width: 412px) {
    *{
        font-size: 20px;
    }
    .App{
        width: 80vw;
        margin: 0 auto;
        display: block;
    }
    .balance{
        background: hsl(10, 79%, 65%);
        max-width: 80vw;
        height: auto;
        margin: 0 auto;
        border-radius: 10px;
        padding: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
    }
    .chart-display{
        padding: 60px 10px;
        background:  hsl(33, 100%, 98%);
        height: auto;
        margin-top: 30px;
        border-radius: 10px;
        box-sizing: border-box;
        font-size: 16px;
    }
    .summary{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .barrier{
        width: 80vw;
        margin: 70px auto;
        height: 1px;
        background: hsl(27, 66%, 92%);
    }
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: larger;
    }
}